<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">artarad Backend Theme</h2>
        <h3 class="oe_slogan">artarad first Odoo community backend theme</h3>
        <div class="oe_demo oe_picture  oe_screenshot">
            <img src="screen.png">
        </div>
		<div>
		<div class="oe_demo oe_picture  oe_screenshot">
            <img src="project.png">
        </div>
		<div>
		<div class="oe_demo oe_picture  oe_screenshot">
            <img src="contact.png">
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <div class="oe_span12 oe_centeralign">
            <br/>
            <h3>Help & Support</h3>
            <br/>
                Website: <a href="https://www.artarad.com" target="_blank">Openworx</a><br/>
           
            <br/>
        </div>
    </div>
</section>
